@import "../../styles/sass/colors";
.title-new-top {
  font-size: 1.4rem;
  font-weight: 500;
}

.img-post {
  object-fit: cover;
  max-height: 420px;
}

.title-down {
  font-size: 2rem;
  font-weight: 500;
}

.content-down {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: $gray-3;
  font-weight: 400;
}
